<h2>Badges</h2>

 <table class="table">      
  <tr>
    <th scope="col">Title </th>
    <th scope="col">Image</th>
    <th scope="col">Rule</th>
    <th scope="col">Criteria</th>
  </tr>
  <%= render @badges %>
</table>

<%= link_to "Back", root_path%>
