<footer>
  <p>Andrey Reznichenko</p>
  <p><%= Time.now.year %></p>
  <p><%= link_to 'Github', 'https://github.com/Ehxdex/TestGuru' %></p>
  <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'https://thinknetica.com' %></p>
</footer>
